* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $main-color;

    @include a (laptop) {
        font-size: 14px;
    }

    @include a (tablet-xl) {
        font-size: 12px;
    }

    @include a (tablet) {
        font-size: 10px;
    }

    @include a (mobile) {
        font-size: 8px;
    }
}

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

    @include a (laptop) {
        max-width: 95%;
    }
}

.title {
    font-size: toRem(35);
    font-weight: 500;
    line-height: 50px;
}

.descr {
    font-size: toRem(18);
    font-weight: 300;
    line-height: 28px;
    color: rgba($color: $main-color, $alpha: 0.8);
}



button {
    outline: none;
    cursor: pointer;
    border: none;
}

input {
    outline: none;
    display: inline-block;
    border: none;
}

textarea {
    border: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}